<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Ticketing System</title>
</head>
<body>
    <a href="/tickets">View My Tickets</a>   
    <h1>Simple Ticketsing System</h1>
    <h2>Available events</h2>

    {% for event in events %}
        <div>
            <h2>{{ event.title }}</h2>
            <p>{{ event.price }}</p>

            <a href="/event/{{ event.id }}">View Details</a>
        </div>
    {%endfor%}
</body>
</html>